# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe for more details.
# ------------------------------------------------------------------------------

ROOT_NOTION_PAGE_ID=
ROOT_NOTION_SPACE_ID=
ABOUT_PAGE_ID=
BLOG_PAGE_ID=
REVALIDATE=
GITHUB=
LINKEDIN=
YOUTUBE=
NEWSLETTER=
TWITTER=
PAGE_URL_OVERRIDES=
NAVIGATION_LINKS=
SITE_NAME=
DOMAIN=
AUTHOR=
SITE_DESCRIPTION=
NAME=""
DESCRIPTION=""
LANGUAGE=""
PAGE_URL_ADDITIONS=""
DEFAULT_PAGE_ICON=""
DEFAULT_PAGE_COVER=""
DEFAULT_PAGE_COVER_POSITION=""
PREVIEW_IMAGE=""
INCLUDE_NOTION_ID_URL=""
NAVIGATION_STYLE=""
SEARCH_ENABLED=""
REDIS_ENABLED=""
REDIS_HOST=""
REDIS_PASSWORD=""
REDIS_USER=""
REDIS_URL=""
REDIS_NAMESPACE=""
VERCEL_URL=""
